name: Software Checks

on:
  schedule:
    - cron: '30 9 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  swcheck:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sw:
          - sw_7zip.py
          - sw_filezilla.py
          - sw_firefox.py
          - sw_firma4ng.py
          - sw_imgmgck.py
          - sw_irfanview.py
          - sw_naps2.py
          - sw_npp.py
          - sw_win32cpt.py
          - sw_putty.py
          - sw_xmlnp.py
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up Python 3.10
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Check Software Update
        run: python ${{ matrix.sw }}
        env:
          TGRAMTOKEN: ${{ secrets.TGRAMTOKEN }}
          TGRAMCHATID: ${{ secrets.TGRAMCHATID }}
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          commit_message: Update ${{ matrix.sw }} version file
          push_options: '--force'
          skip_dirty_check: false
          disable_globbing: true
          file_pattern: updates/*
